
<% @artists.each do |artist| %>
<div class="order">
 <b>Name:</b>
 <p><%= artist.name()%></p>

 <% albums = artist.albums() %>
 <% albums.each do |album|%>
 <%= album.name%>
 <br>
 <%end%>
</div>
<%end%>
