<h3>Search</h3>

<form action="/search" method = "get">
  <input type="text" name="search">
  <input type="submit" name="Search" value="Search">
</form>

<%albums = Album.search(params['search'])%>
<%artists = Artist.search(params['search'])%>

<%artists.each do |artist| %>
   <a href="/artists/<%=artist.id%>"><b><%=artist.name%></b></a>
<%end%>

<%albums.each do |album| %>
  <a href="/albums/<%=album.id%>"><b><%=album.name%></b></a>
<%end%>
