<!DOCTYPE html>
<html lang='en'>
<head>
  <title>Music Library</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
<a href="/library">View library</a>
<a href="/artists">View artists</a>
<a href="/albums">View albums</a>
<a href="/artists/new">Add artist</a>
<a href="/albums/new">Add album</a>
  <%=yield%>
</body>
</html>